.App {
  min-height: 100vh;
  background: linear-gradient(
    -70deg,
    #a5cc82,
    #00467f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.allRecipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer {
  background-color: black;
  color: lightgray;
  text-align: center;
  padding: 5px;
}

.footer a {
  text-decoration: none;
  color: #78c5ef;
}

.footer a:hover {
  text-decoration: underline;
}
